:root{
    --branco-principal:#ffffff;
    --cor-de-fundo:#00030c;
    --bot達o-azul: #167bf7;
    --cinza:#c0c0c0;
    --fonte-pricipal:'Inter';
}

body {background-color: var(--cor-de-fundo);
   color: var(--branco-principal); 
   font-family: var(--fonte-pricipal);
   font-size: 16px;
   font-weight: 400;
} 

*{
    margin:0;
    padding:0;

}

.principal{
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center ;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container_bot達o{
    background-color: var(--bot達o-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration:none;
    margin-bottom: 1em; 
}

.bot達o_secundario{
    background-color: transparent;
    border:2px solid var(--branco-principal);
}

.container_aviso{
    font-size: 12px;
    color: var(--cinza);
}

.container_titulo{
    font-size: 28px;
    font-weight: 700;  
}

.container_imagem{
    margin: 1em 0 2em 0;
}

.container_caixa{ 
    margin: 0 6em;

}
